h1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 500;
}

.table-categories {
  padding-bottom: 100px;
}

#btn {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#find {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#find:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#find:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#add-prod {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#add-prod:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#add-prod:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#add-manager {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#add-manager:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#add-manager:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#del-manager {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#del-manager:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#del-manager:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#add-gadgetname {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

#add-gadgetname:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#add-gadgetname:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Style for table header */
.table thead {
  background-color: #3c3c3c;
  color: #fff;
}

/* Style for table header cells */
.table th {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

/* Style for table body cells */
.table td {
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

.table td img {
  display: block;
  margin: 0 auto;
}

#for-crud{
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 15px;
  height: 400px;
  width: 270px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
}

.input {
  display: block;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
}

.input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

.del-btn-category {
  padding: 8px 12px;
  border: none;
  background-color: #d63031;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.del-btn-category:hover {
  background-color: #c0392b;
}

.del-btn-order {
  padding: 8px 12px;
  border: none;
  background-color: #d63031;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.del-btn-order:hover {
  background-color: #c0392b;
}

.del-btn {
  padding: 8px 12px;
  border: none;
  background-color: #d63031;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.del-btn:hover {
  background-color: #c0392b;
}


.edit-btn {
  padding: 8px 12px;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-btn:hover {
  background-color: #27ae60;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: darkgray;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

#edit-confirm-prod {
  width: 150px;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 10px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  display: block;
}

#edit-confirm-prod:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

#edit-confirm-prod:active {
  transform: scale(0.95);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some images';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 7px 40px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}