h1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 300;
}

.search {
  display: block;
  width: 20%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
}

.input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

#find-search {
  width: fit-content;
  min-width: 200px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 0 auto;
}

#find-search:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

#find-search:active {
  transform: scale(0.95);
}

.buy-button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 10px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: rgba(199, 191, 191, 0.207);
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 0 auto;
}

.buy-button:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

.buy-button:active {
  transform: scale(0.95);
}

.regular-img {
  display: block;
  margin: 0 auto;
}

.cards-gadget {
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 17px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  height: 300px;
  width: 202px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.select-category {
  position: absolute;
  z-index: var(--control-bar-z-index);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding: var(--control-bar-padding);
}

.select-category {
  padding: 10px 20px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  display: block;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  font: 400 18px tahoma;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.top-menu:after {
  content: "";
  display: block;
  height: 1px;
  border-top: 3px solid #575350;
  border-bottom: 1px solid #575350;
  margin-bottom: 2px;
}

.top-menu:after {
  border-bottom: 3px solid #575350;
  border-top: 1px solid #575350;
  box-shadow: 0 2px 7px #ccc;
  margin-top: 2px;
}

.menu-main {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.menu-main:before,
.menu-main:after {
  content: "\25C8";
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu-main:before {
  left: 15px;
}

.menu-main:after {
  right: 15px;
}

.menu-main li {
  display: inline-block;
  padding: 5px 0;
}

.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 2px 5px;
  padding: 6px 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #777777;
  border-bottom: 1px solid transparent;
  transition: .3s linear;
}

.menu-main .current,
.menu-main a:hover {
  border-radius: 3px;
  background: #f3ece1;
  color: #313131;
  text-shadow: 0 1px 0 #fff;
  border-color: #c6c6c6;
}

@media (max-width: 500px) {
  .menu-main li {
    display: block;
  }
}

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.filter {
  height: 300px;
  width: 200;
  background-color: white;
  background: none;
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  float: left;
}

#findGadget {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 20px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: rgba(199, 191, 191, 0.207);
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#findGadget :hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

#findGadget :active {
  transform: scale(0.95);
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-cart-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: #777777;
  cursor: pointer;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cart-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.cart-item-img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}


.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-details h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}


.cart-item-details p {
  font-size: 1rem;
  color: #777777;
  margin: 0;
}

.carousel-root{
  margin-top: 10%;
}

.content {
  margin-top: 15%;
}

.advertising {
  width: 90%;
  height: 250px;
  border-radius: 20px;
  padding: 1px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  margin: auto;
  margin-top: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 30px;
}

#soon{
  height: 40px;
  width: 140px;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.faq-info{
  margin-top: 30%;
  margin-bottom: 12%;
}

.ask{
  margin: auto;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 92vw;
}
.question-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question-align h4 {
  margin-left: 8px;
}

.question-style {
  font-size: 17px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #1b6aae;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}