.top-menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 3px solid #575350;
    border-bottom: 1px solid #575350;
    margin-bottom: 2px;
}

.top-menu:after {
    border-bottom: 3px solid #575350;
    border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 2px;
}

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.menu-main:before,
.menu-main:after {
    content: "\25C8";
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-main:before {
    left: 15px;
}

.menu-main:after {
    right: 15px;
}

.menu-main li {
    display: inline-block;
    padding: 5px 0;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
}

.menu-main .current,
.menu-main a:hover {
    border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
}

@media (max-width: 500px) {
    .menu-main li {
        display: block;
    }
}

.commentaries {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.commentaries h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.commentary-block {
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.commentary-block h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.commentary-block label {
    font-weight: bold;
}

.commentary-block p {
    margin: 5px 0;
}

.comments-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comments-card p {
    margin-bottom: 10px;
}

.comments-card .star {
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}

.comments-card .filled {
    color: #fbc02d;
}

.comments-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.comments-card input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.comments-card button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comments-card button:hover {
    background-color: #45a049;
}

.btn {
    height: auto;
    width: 100px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content .star {
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}

.modal-content .filled {
    color: #fbc02d;
}

.modal-content input[type="number"],
.modal-content input[type="text"],
.modal-content select {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1rem;
}

.modal-content select {
    cursor: pointer;
}

.modal-content button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.modal-content button[type="submit"]:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-stars-container{
    margin: auto;
}